<div class="event-history">
  <div class="recent-purchases">
    <div class="sales-filter">
      <img
        class="currency-dollar-2"
        loading="lazy"
        alt=""
        src="/assets/public/currency-dollar-2.svg"
      />
      <h2 class="sales-by-event">Sales by event</h2>
    </div>
    <div class="timestamp-wrapper-wrapper">
      <div class="update-time">
        <div class="search-icon">
          <div class="the-last-update">
            The last update: 10 minutes ago
          </div>
        </div>
        <div class="button-79">
          <div class="sort-by-sales">Sort by: Sales</div>
          <div class="filter-options">
            <img
              class="funnel-icon"
              alt=""
              src="/assets/public/chevron-down-large.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="event-table">
    <ul class="table-1">
      <li class="table-header">
        <div class="header-cells">
          <input class="event1" placeholder="Event" type="text" />
        </div>
        <div class="header-cells1"></div>
        <div class="header-cells2">
          <div class="date-of-the">Date of the event</div>
        </div>
        <div class="header-cells3"></div>
        <div class="header-cells4">
          <div class="ticket-sold">Ticket sold</div>
        </div>
        <div class="header-cells5">
          <div class="revenue1">Revenue</div>
        </div>
      </li>
      <li class="row">
        <div class="row-data">
          <img
            class="image-icon"
            loading="lazy"
            alt=""
            src="/assets/public/image@2x.png"
          />
        </div>
        <div class="event-names">
          <input
            class="rock-revolt-a"
            placeholder="Rock Revolt: A Fusion of Power and Passion"
            type="text"
          />
        </div>
        <div class="event-dates">
          <div class="monday-june-10">Monday, June 10</div>
        </div>
        <div class="event-tags">
          <div class="tag">
            <div class="tags">
              <div class="in-5-days">in 5 days</div>
            </div>
          </div>
        </div>
        <div class="empty-cell">
          <div class="divider">100/300</div>
        </div>
        <div class="empty-data">
          <div class="empty-value">$ 234</div>
        </div>
      </li>
    </ul>
  </div>
</div>
