<form action="">
  <div class="information-g">
    <a class="general-information">General information</a>
    <img class="c-info-1" loading="lazy" alt="" src="./public/c-info-1.svg" />

    <a class="name">
      <span>Name </span>
      <span class="span">*</span>
    </a>
    <div class="make-it-catchy">Make it catchy and memorable</div>
    <mat-form-field class="textbox-34" appearance="fill">
      <input matInput placeholder="Rock Revolt: A Fusion of Power and Passion" type="text" />
    </mat-form-field>

    <h3 class="description">Description</h3>
    <div class="provide-essential-event">
      Provide essential event details
    </div>
    <mat-form-field class="textarea-1" appearance="fill">
      <textarea matInput class="input-description" placeholder="Input description"></textarea>
      <div class="resizing-handle-wrapper">
        <img class="resizing-handle-icon" alt="" src="./public/resizing-handle.svg" />
      </div>
    </mat-form-field>

    <h3 class="category">Category</h3>
    <div class="choose-the-category">
      Choose the category for your event
    </div>
    <mat-form-field class="dropdown-button-1" appearance="fill">
      <mat-select placeholder="Music">
        <mat-option value="music">Music</mat-option>
        <!-- Add other categories here -->
      </mat-select>
      <div class="chevron-down-large-wrapper">
        <img class="chevron-down-large" loading="lazy" alt="" src="./public/chevron-down-large@2x.png" />
      </div>
    </mat-form-field>
  </div>

  <div class="event-form">
    <div class="location-time">
      <h2 class="location-and-time">Location and time</h2>
      <img class="pin-3-36" loading="lazy" alt="" src="./public/pin-3-36@2x.png" />

      <h3 class="location">Location</h3>
      <div class="you-can-choose">
        You can choose the location or pinpoint it on the map
      </div>
      <b class="address">Address</b>
      <mat-form-field class="textfield" appearance="fill">
        <input matInput placeholder="Address" type="text" />
      </mat-form-field>

      <h3 class="time">Time</h3>
      <div class="choose-the-start">
        Choose the start time and end time for your event
      </div>
      <b class="event-date">Event Date</b>
      <mat-form-field class="text" appearance="fill">
        <input matInput placeholder="Event Date" type="text" />
      </mat-form-field>
    </div>

    <button mat-raised-button class="button-68">
      <div class="next">Next</div>
      <div class="arrow-right-wrapper">
        <img class="arrow-right-icon" alt="" src="./public/arrow-right.svg" />
      </div>
    </button>
  </div>
</form>
